
.mainnav_inner ul li:hover{
    background: #00647f;
}


.menu_two{
	background: #00647f;
}
.mainnav_menu .current_menu{
	background: #00c8ff;
}
.warp{
	 background: #f6f6f3;
    color: #6c6c6c;
}


.content_wrap{
	width:1100px;
	margin:0 auto;
}
.recommend_box{
    margin-top: 30px;
}
.recommend_box h2 {
    font-size: 18px;
    color: #000;
    font-family: 微软雅黑;
    font-weight: normal;
    margin-bottom: 7px;
    height:24px;

}
.recommend_box a.bfd_img_logo{
    float: right;
    display: block;
    width: 101px;
    height: 13px;
    margin: 5px 0 0 0;
    background: url(../images/bfd_logo_ch.png) no-repeat 0 0;
    overflow: hidden;
}
.recommend_box h2 .bfd_img_logo:hover{
   background-position: 0 -14px; 
}
.recommend_box .recom_cont{
    float:left;
}

.recommend_box h2 span{
	margin-right: 17px;
}
.recommend_box h2 i {
    font-style: normal;
    font-family: Arial;
}
.r_list {
    width: 1080px;
    background: #fff;
    padding: 20px 0 20px 20px;
}
.r_list ul{
	overflow:hidden;
}
.r_list ul li{
	float: left;
    width: 250px;
    height: 100px;
    margin-left: 20px;
    background: #fff;

}
.r_list ul li:hover .goods_img{
	border:1px solid #eee;
} 
.r_list .goods_img {
    width: 98px;
    height: 98px;
    border: 1px #fff solid;
    float: left;
}
.r_list .goods_img img{
	display:block;
	width:100%;
	height:100%;
}
.recommend_box .r_list .goods_price {
    width: 136px;
    height: 80px;
    padding: 20px 0 0 14px;
    float: left;

}

 .recommend_box .r_list .pro_name {
    width: 96px;
    height: 38px;
    line-height: 18px;
    margin-bottom: 4px;
}
.recommend_box .r_list .goods_price .now_price {
    margin-top: 3px;
}


.recommend_box .r_list .pro_name a{
	 width: 96px;
    height: 38px;
    line-height: 18px;
    color: #6c6c6c;
    font-size:12px;
}
.recommend_box .r_list .now_price i,.recommend_box .r_list .now_price span {
    font-style: normal;
    color: rgb(255, 100, 60);
    font-size: 14px;
    font-family: 微软雅黑;
}
.list_box {
    width: 1100px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #fff;
    height:382px;
}
.now_pos {
    height: 40px;
    background: #fff;
    border-bottom: 1px #f6f6f3 solid;
}
.now_pos_show {
    float: left;
    margin-left: 20px;
}
.now_pos_show p{
	float:left;
}
.now_pos .pos_link {
    padding: 0 6px;
    height: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 9px;
    font-size:13px;
}
.now_pos i {
    font-style: normal;
    color: #6c6c6c;
    font-weight: bold;
    margin: 8px 15px 0;
    float:left;
}
.now_pos .list_reset {
    height: 22px;
    line-height: 22px;
    margin-right: 40px;
    float: right;
    margin-top: 9px;
}
.now_pos .list_reset a{
	font-weight: bold;
    color: #6c6c6c;
    font-size:12px;
}
.list_menu{
	padding: 0 20px;
}
.sort{
	color: #00c8ff;
    font-weight: bold;
    float: left;
    margin-right: 18px;
    font-size:13px;
    margin-top:13px;
}
.menu_box{
	float: left;
    width: 920px;
    height:20px;
    margin-top:8px;
   
}
.menu_box ul{
	overflow:hidden;
	float:left;
}
.menu_box ul li{
	float: left;
    width: 90px;
    height: 20px;
    margin-right: 10px;
    margin-top: 15px;
}
.menu_inner{
	overflow: hidden;
}
.menu_inner ul li a{
	color: #6c6c6c;
    display: block;
    width: 90px;
    font-size:12px;
}
.menu_btn{
	float: right;
    margin-right: 11px;
    color: #6c6c6c;
    cursor: pointer;
}
.menu_btn span{
	padding-right: 13px;
    background: url('../images/pb_subnav_icodown.png') no-repeat right 4px;
    font-size:12px;
}

/***************************pro_box*************************/
.pro_box{
	width:1100px;
}
.pro_box .subnav{
	width: 1100px;
    height: 40px;
    background: #6c6c6c;
}
.subnav .subnav_menu{
	float:left;
}
.subnav .subnav_menu li{
	float:left;
}
.subnav .subnav_menu li a{
	display: block;
    width: 115px;
    height: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size:13px;
}
.subnav .subnav_menu li a span{
	   padding-right: 17px;
    background: url('../images/pb_subnav_icowhite.png') no-repeat right 3px;
}
.pro_box .subnav_menu .menu_price a span {
    background: url('../images/pb_subnav_icoprice.png') no-repeat right 2px;
}
.pro_box .subnav_menu .menu_price:hover a span{
	 background: url('../images/pb_subnav_icoasc.png') no-repeat right 2px;
}
.pro_box .subnav_menu .menu_sel a span{
	background: url('../images/pb_subnav_iconosel.png') no-repeat right 13px;
    display: inline-block;
}
.pro_box .subnav_menu .menu_sel:hover a span{
	background: url('../images/pb_subnav_icosel.png') no-repeat right 13px;
    display: inline-block;
}

.subnav .subnav_menu li .menu_current,.subnav .subnav_menu li:hover a {
    color: #6c6c6c;
    background: #fff;
}

.subnav .subnav_menu li .menu_current span,.subnav .subnav_menu li:hover span{
	   padding-right: 17px;
    background: url('../images/pb_subnav_icogray.png') no-repeat right 3px;
}
.subnav_tip{
	float: right;
    margin-right: 10px;
}
.sublist{

}
.subnav_tip .tip_amount {
    color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 23px 0 0;
    overflow: hidden;
    font-size:13px;
}
.subnav_tip .tip_amount i{
	font-style: normal;
    color: #ff643c;
    font-family: Arial;

}
.tip_amount a{
	color: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}
.list_goods{
	margin-bottom:20px;
}
.list_goods ul{
	margin-left: -20px;
	overflow:hidden;
}
.list_goods ul li{
	float: left;
    width: 260px;
    height: 360px;
    margin: 20px 0 0 20px;
    background: #fff;
}
.list_goods ul li:hover .goods_img{
	opacity:0.7;
}

.goods_img{
	    width: 260px;
    height: 260px;
}
.goods_img img{
	display:block;
	width:100%;
	height:100%;
}
.goods_price{
	width: 240px;
    height: 89px;
    padding: 11px 10px 0;
    position: relative;
}
.goods_price .pro_name{
	 width: 240px;
    height: 42px;
    margin-bottom: 20px;
    overflow: hidden;
}
.goods_price .pro_name a{
	width: 240px;
    height: 42px;
    display: block;
    line-height: 20px;
    color: #6c6c6c;
    font-size:12px;
}
.goods_price  .now_price {
    margin-top: -14px;
}
.goods_price  .now_price i{
	font-style: normal;
    color: #ff643c;
    font-size: 14px;
    font-family: '微软雅黑';
}
.goods_price  .now_price span{
	font-size: 26px;
    color: #ff643c;
    font-family: Arial;
}
.goods_price  .now_price del{
	font-size: 14px;
    font-family: '微软雅黑';
    color: #c4c4c4;
    margin-left: 6px;
}
.goods_price .buy_btn {
    width: 90px;
    height: 26px;
    position: absolute;
    right: 10px;
    bottom: 15px;
    background: #ff643c;
}
.goods_price .buy_btn a{
	width: 90px;
    height: 26px;
    display: block;
    text-align: center;
    line-height: 26px;
    color: #fff;
}
/***********************search_box***************************/
.content_wrap .c_search_box{
	width: 1100px;
    background: #fff;
    padding: 30px 0;
    margin: 35px auto 0;
    height:60px;

}
.c_search_box .c_search_inner{
	width: 600px;
    margin: 0 auto;
}
.c_search_inner form{
	background: #fff;
    height: 40px;
}
.c_search_inner  .cinner{
	 height: 26px;
    line-height: 28px;
    padding: 5px 0px 5px 10px;
    float: left;
    background: #fff;
    border: 2px #00c8ff solid;
	width:498px;
    color: #6c6c6c;
}
 .c_search_inner .cbtn{
 	border: 0;
    background: #00c8ff;
    width: 88px;
    height: 40px;
    float: left;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    line-height: 40px;
 }
 .c_search_inner .clist{
	margin-left:-7px;
	overflow: hidden;
 }
  .c_search_inner .clist li{
  	float:left;
  	overflow:hidden;
  }
  .c_search_inner .clist li a{
  	color: #6c6c6c;
    margin: 0 9px;
    float: left;
    font-size:12px;
}

.icon{
    background:url(../images/1.png);
    position: fixed;
    width:200px;
    height:176px;
    right:35px;
    bottom:0;
    cursor: pointer;

}

/**************************panel***********************/
.panel{width: 35px;
    height: 100%;
    text-align: center;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: #6c6c6c;
}
.sidebar_tooltip{
    display:none;
}
.panel .panel_one{
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 0;
    z-index: 10;
    background: #6c6c6c;
}
.panel_one li:hover,.panel_two li:hover{
    background:#00C8FF;
}

.panel_one li:hover .sshopcar_amout{
    
    color:red;
}
.panel_one li{
    position:relative;
 
}
.sidebar_login{
    margin-bottom: 21px;
}
.sidebar_login a,.sidebar_shopcar a{
    display: block;
    width: 35px;
    line-height:16px;
}
 .sidebar_tooltip{
    width: 103px;
    height: 35px;
    line-height: 35px;
    background: #6c6c6c;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right:35px;
}
.sidebar_tooltip a{
    color: #fff;
    font-size:12px;
}
.sidebar_shopcar{
    height: 126px;
    margin-bottom: 26px;

}

.sshopcar_text{
        color: #fff;
    display: block;
    width: 15px;
    margin: 5px auto 10px;
    font-size:12px;
}
.sshopcar_amout {
    color: #fff;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 32px;
  
    font-family: Arial;
    font-size: 14px;
    }
    .sidebarcollect{
        margin-bottom:8px;
    }
    .panel_two {
   position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 9;
    background: #6c6c6c;

}
.sidebar_tooltip span{
    font-size:12px;
}

.up_triangle {
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
    border-width: 5px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent
    }
 .sidebar_wechat  .sidebar_tooltip{
        width: 370px;
    height: 170px;
    top: -135px;
    left: -370px;
    }
  .sidebar_tooltip .sidebar_ewm_box {
    float: left;
    margin-left: 10px;
    }
  .sidebar_tooltip .sidebar_ewm_box img  {
        display: block;
    width: 110px;
    height: 110px;
    margin: 20px auto 4px;
    }

   .sidebar_servers {
        margin-bottom: 30px;
    }
  
 .go_top{
    font-family: Arial;
    color: #fff;
    font-size:12px;
    }

  .sidebar_content{
     width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
  

    }
    .nav_content{
    width: 280px;
    padding: 10px 10px 20px;
    overflow: hidden;
    }
    .nav_content h2{
     font-weight: normal;
    font-size: 18px;
    color: #000;
    font-family: '微软雅黑';
    height: 42px;
    
    border-bottom: 1px #e3e3e3 dotted;
    width:254px;
    }
   .nav_content h2 span {
     float: left;
      padding-bottom: 17px;
   
}

.nav_content h2 i {
    float: right;
    font-style: normal;
    font-size: 24px;
    color: #adadad;
    font-family: '宋体';
    cursor: pointer;
}
.shopgoods_empty {
    padding: 30px 0;
}
.shopgoods_empty p {
    text-align: center;
    font-family: '微软雅黑';
}
.shopgoods_empty_img {
    width: 135px;
    height: 164px;
    margin: 0 auto;
    background: url('../images/empty.png') no-repeat;
}
.shopgoods_empty_tip1 {
    font-size: 24px;
    color: #c4c4c4;
    margin-top: 10px;
}
.shopgoods_empty_tip2 {
    font-size: 18px;
    color: #c4c4c4;
}


.panel{width: 35px;
    height: 100%;
    text-align: center;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 100;
    background: #6c6c6c;
}
.sidebar_tooltip{
    display:none;
}
.panel .panel_one{
    position: absolute;
    top: 50%;
    margin-top: -200px;
    left: 0;
    z-index: 10;
    background: #6c6c6c;
}
.panel_one li:hover,.panel_two li:hover{
    background:#00C8FF;
}

.panel_one li:hover .sshopcar_amout{
    
    color:red;
}
.panel_one li{
    position:relative;
 
}
.sidebar_login{
    margin-bottom: 21px;
}
.sidebar_login a,.sidebar_shopcar a{
    display: block;
    width: 35px;
    line-height:16px;
}
 .sidebar_tooltip{
    width: 103px;
    height: 35px;
    line-height: 35px;
    background: #6c6c6c;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    right:35px;
}
.sidebar_tooltip a{
    color: #fff;
    font-size:12px;
}
.sidebar_shopcar{
    height: 126px;
    margin-bottom: 26px;

}

.sshopcar_text{
        color: #fff;
    display: block;
    width: 15px;
    margin: 5px auto 10px;
    font-size:12px;
}
.sshopcar_amout {
    color: #fff;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 32px;
  
    font-family: Arial;
    font-size: 14px;
    }
    .sidebarcollect{
        margin-bottom:8px;
    }
    .panel_two {
   position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 9;
    background: #6c6c6c;

}
.sidebar_tooltip span{
    font-size:12px;
}

.up_triangle {
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
    border-width: 5px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent
    }
 .sidebar_wechat  .sidebar_tooltip{
        width: 370px;
    height: 170px;
    top: -135px;
    left: -370px;
    }
  .sidebar_tooltip .sidebar_ewm_box {
    float: left;
    margin-left: 10px;
    }
  .sidebar_tooltip .sidebar_ewm_box img  {
        display: block;
    width: 110px;
    height: 110px;
    margin: 20px auto 4px;
    }

   .sidebar_servers {
        margin-bottom: 30px;
    }
  
 .go_top{
    font-family: Arial;
    color: #fff;
    font-size:12px;
    }

  .sidebar_content{
     width: 300px;

    position: relative;
    top: 0;
    bottom: 0;
    background: #fff;
  

    }
    .nav_content{
    width: 280px;
    padding: 10px 10px 20px;
    overflow: hidden;
    }
    .sidebar_content h2{
     font-weight: normal;
    font-size: 18px;
    color: #000;
    font-family: '微软雅黑';
    height: 42px;
    
    border-bottom: 1px #e3e3e3 dotted;
    width:254px;
    }
   .sidebar_content h2 span {
     float: left;
      padding-bottom: 17px;
   
}

.sidebar_content h2 i {
    float: right;
    font-style: normal;
    font-size: 24px;
    color: #adadad;
    font-family: '宋体';
    cursor: pointer;
}
.shopgoods_empty {
    padding: 30px 0;
}
.shopgoods_empty p {
    text-align: center;
    font-family: '微软雅黑';
}
.shopgoods_empty_img {
    width: 135px;
    height: 164px;
    margin: 0 auto;
    background: url('../images/empty.png') no-repeat;
}
.shopgoods_empty_tip1 {
    font-size: 24px;
    color: #c4c4c4;
    margin-top: 10px;
}
.shopgoods_empty_tip2 {
    font-size: 18px;
    color: #c4c4c4;
}

.shopgoods_list_cont{
    padding-top: 10px;
    height:121px;
}
.shopgoods_list_cont ul{
    overflow:hidden;
}
.shopgoods_list_cont ul li{
    padding: 20px 0;
}
.header_goodsimg {
    float: left;
    width: 78px;
    height: 78px;
    border: 1px #e4e4e4 solid;
}
.header_goodsimg  img{
    display:block;
    width: 78px;
    height: 78px;
}
.header_goodsinfo {
    float: right;
    width: 170px;
    font-size:12px;
}
.header_ginfo_name {
    margin-top: 8px;
    margin-bottom: 10px;
    height: 36px;
    overflow: hidden;
}
.header_ginfo_name a {
    color: #6c6c6c;
    display: block;
    line-height: 1.5;
}
.header_ginfo_price {
    width: 53px;
    font-family: 微软雅黑;
    font-size: 14px;
    color: rgb(255, 100, 60);
    float: left;
    margin-right: 6px;
    height: 24px;
    line-height: 24px;
}
.header_ginfo_amount {
    width: 77px;
    height: 24px;
    float: left;
    border: 1px #e4e4e4 solid;
    overflow: hidden;
}
.header_ginfo_amount span{
    width: 24px;
    height: 24px;
    float: left;
    cursor: pointer;
}
.header_ginfo_amount .down{
    background: url('../images/updown.png') no-repeat 0 -24px;
}
.header_ginfo_amount .up{
    background: url('../images/updown.png') no-repeat 0 0;
}
.header_ginfo_amount input{
    font-weight: normal;
    width: 29px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    float: left;
    font-family: Arial;
    font-size: 14px;
    border: 0;
}
.header_ginfo_del{
    color: #6c6c6c;

    float: right;

    font-size: 12px;
}
.header_shopgoods_allinfo{
    margin-top:10px;
    font-size:12px;
    position:relative;
}

.jianshu span {
    color: #ff643c;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    margin: 0 2px;
}
.zongjia span{
    color: rgb(255, 100, 60);
    font-size: 14px;
    font-family: 微软雅黑;
    margin: 0px 3px 0px 4px;
}
.zongjia em{
    color: #ff643c;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
    font-style: normal;
}
.h_allinfo_gobuy{
    width: 90px;
    height: 26px;
    background: #ff643c;
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.h_allinfo_gobuy a{
    display: block;
    width: 90px;
    height: 26px;
    color: #fff;
    text-align: center;
    line-height: 26px;
}